:root{
    --verde: #339999;
    --morado: #666699;
    --gris: #CCCCCC;
}


html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
        background-color: var(--gris);
        font-family: montserrat;
	}
    .contenedor-principal{
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
    .contenedor-header{
        background-color: var(--verde);
        
    }
    .contenido-header{
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        color: white;
        align-items: center;
    }
    
    @media (min-width: 468px){

        .contenido-header{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            
            
        }
    }
    .logo{
        text-align: center;
    }
    
    a{
        color: white;
        text-decoration: none;
        text-decoration: none;
        padding: 1rem;
        &:hover{
            color: var(--morado);
            transition: transform 0.5s;
            transform: scale(1.5);
        }
    }
    .contenido-pagina{
       
        align-items: center;
        padding: 20px 0;
		width:80%;
		max-width: 700px;
		margin: 0 auto;
		text-align: justify;
        line-height: 1.5;
		color: var(--morado);
        flex-grow: 1;
        align-items: center;;
        
	}
    .titulo-pagina{
        text-align: center;;
    }
    .contenedor-imagen{
        display: flex;
        justify-content: center;
        
    }
    .contenedor-footer{
        background-color: var(--verde);
        color: white;
        text-align: center;
        padding: 10px 0;
        margin-bottom: 0;
    }
    .contenido-footer{
        display: flex;
        flex-direction: column;
       
    }
   .iconos-redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    ;
   }
   .icono{
    width: 30px;
    height: auto;
    background-color: transparent;
    background: transparent;
   }
    
   

    fieldset{
        border: 2px solid var(--verde);
        border-radius: 10px;
        box-shadow: 0 4px 35px var(--verde);
        width: 80%;
        margin: 0 auto 20px auto;

    }

    legend{
        font-size: 25px;
        padding: 0 5px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .campos{
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 25px;
        
    }
    label{
        margin: 0 0 5px 0;
        
    }
    input, textarea{
        border-radius: 5px;
        border: none;
    }
   textarea{
    margin-bottom: 10px
   }
   .contenedor-boton{
    justify-content: center;
    
    
}
   @media (min-width: 428px){
   .contenedor-boton{
    display: flex;
    justify-content: flex-end;
    margin: 2px 25px 0 0;
    
   }
   }
   
    
   
   .boton{
    background-color: var(--verde);
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    
    &:hover{
        transition: transform 0.5s;
        transform: scale(1.1);
    }
   }
   
  li{
    list-style: none;
    justify-content: left;
  }
  .lista-posts{
    font-size: 20px;
    color: var(--morado );
    &:hover{
        color: white;
        cursor: pointer;
    }
  }
  .contenido-texto{
    text-align: justify;
    line-height: 1.5;
    color: var(--morado);
    font-size: 20px;
    margin: 0 25px;
  }


  .card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 35px var(--verde);
    margin: 20px 0;
    padding: 20px;
    color: var(--morado);
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    &:hover{
        transition: transform 0.5s;
        transform: scale(1.05);
    }
    a{
        color: var(--morado);
        text-decoration: none;
        font-weight: bold;
    }
    a:hover{
        color:var(--verde);
    }
  }
  .boton-like{
    background-color: transparent;
    border: none;
    margin-top: 10px;
    color: var(--morado);
    font-size: 20px;
    cursor: pointer;
    &:hover{
        color: var(--verde);
        transition: transform 0.5s;
        transform: scale(1.1);
    }

  }
  .texto-likes{
    color: var(--verde);
    font-weight: bold;
  }