---

import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import GridPosts from '../components/GridPosts.astro';
const posts = await getCollection('posts');

---

<Layout>
	
	<main class="contenido-pagina">
		<h1 class="titulo-pagina">Mi blog</h1>
        <GridPosts posts={posts} />
	</main>
	
</Layout>