---

import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';

---

<Layout>
	<Header/>
	<main>
		<h1 class="titulo-pagina">Página de Inicio de mi web con Astro</h1>
		<div class="contenido-inicio">
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, adipisci minus. Pariatur quidem odit exercitationem natus accusamus, sed reprehenderit? Nulla asperiores mollitia iste qui natus maiores facilis reprehenderit aperiam suscipit! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut, rerum necessitatibus ea quod facilis facere voluptatum sequi quas porro nobis unde accusamus placeat officiis eveniet! Quos, voluptatum? Unde, totam beatae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptate fuga, rerum veniam vel tempora! Necessitatibus molestias quae accusamus, eius, voluptas excepturi libero placeat facere impedit cumque nemo, eligendi porro!</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi a sed cupiditate atque illo expedita, dolorum quidem ex eligendi, hic possimus, tempora eum facilis consectetur quas aperiam ducimus veritatis suscipit.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quos sed eius perspiciatis vitae ducimus quis distinctio mollitia quisquam minus quae, eligendi sint! Aperiam saepe id, labore qui quis veritatis! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus alias sequi ducimus repellat beatae sint asperiores quasi excepturi nobis consequuntur laborum deleniti recusandae nihil corporis assumenda, qui suscipit voluptates? Placeat!</p>
		</div>
	</main>
	<Footer/>
</Layout>

