---

import Layout from '../layouts/Layout.astro';


import proyectos from '../data/proyectos.json';


---

<Layout>
	
	<main class="contenido-pagina">
		<h1 class="titulo-pagina">Mis proyectos</h1>
        <div class="enlaces-proyectos">
		<ul>
            {proyectos.map((proyecto) => (
            <li class="card">
                <a href={`/proyectos/${proyecto.slug}`} class="lista-posts">
                {proyecto.title} - {proyecto.description}
                </a>
            </li>
            ))}
        </ul>
    </div>
	</main>
	
</Layout>