<footer class="contenedor-footer">
    <div class="contenido-footer">
        <div class="titulo-footer">
            <h2>Jesús J. Girona</h2>
        </div>
        <div class="iconos-redes">

            <img alt="facebook" class="icono" src="/facebook.jpg">
            <img alt="instagram" class="icono" src="/instagram.png">
            
          

        </div>
        <div class="copi">
            <p>&copy; 2025</p>
        </div>
    </div>
</footer>