<footer class="contenedor-footer">
    <div class="contenido-footer">
        <div class="titulo-footer">
            <h2>Jesús J. Girona</h2>
        </div>
        <div class="iconos-redes">
<<<<<<< HEAD
            <img alt="facebook" class="icono" src="/facebook.jpg">
            <img alt="instagram" class="icono" src="/instagram.png">
            
=======
            <img src="/facebook.jpg" alt="facebook" class="icono">
            <img src="/instagram.png" alt="instagram" class="icono">
>>>>>>> 36064c8bd3f183bf03f8986262a9a48dbb360ec1
        </div>
        <div class="copi">
            <p>&copy; 2025</p>
        </div>
    </div>
</footer>