<footer class="contenedor-footer">
    <div class="contenido-footer">
        <div class="titulo-footer">
            <h2>Jesús J. Girona</h2>
        </div>    
        <div class="iconos-redes">
            <img src="/src/assets/facebook.jpg" alt="facebook" class="icono">
            <img src="/src/assets/instagram.png" alt="instagram" class="icono">
        </div>
        <div class="copi">
            <p>&copy; 2025</p>
        </div>
    </div>
</footer>