<header class="contenedor-header">
    <div class="contenido-header">
        <div class="logo">
            <h1><a href="/">Jesús J. Girona</a></h1>
            <h2>Astro</h2>
        </div>
        <div class="navegacion">
            <a href="/about">Sobre mí</a>
            <a href="/contacto">Contacto</a>
            <a href="/blog">Blog</a>
        </div>
    </div>
</header>